{% extends 'base.html.twig' %}

{% block title %}Sphinx riddle{% endblock %}

{% block body %}
<div class="container">
    <hgroup>
        <h1 class="title">Sphinx riddle</h1>
        <p>The most simpliest riddle in the world</p>
    </hgroup>

    <blockquote>
        The Sphinx, posted on the ramparts of Thebes, poses a riddle whispered to him 
        by the Muses to all travellers who appear before him. Unfortunately, none can solve it, 
        and all are devoured by the monster. He also destroys crops.
    </blockquote>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_row(form.answer) }}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    <p style="color: green; margin-top: -0.9rem;">{{ message }}</p>
                </div>
            {% endfor %}
    
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    <p style="color: red; margin-top: -0.9rem;">{{ message }}</p>
                </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    {{ form_end(form) }}
</div>

<footer>
    <small>
        Created by a Guardia Cybersecurity School student •
        Built with Symfony and Pico CSS
    </small>
</footer>
{% endblock %}
